body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.weather-app {
  width: 50%;
  min-width: 400px;
  margin: 50px auto 10px;
}
.frame {
  padding: 30px;
  background: #8ed2c9;
  border-radius: 15px;
  color: #046861;
}
strong.current-temperature {
  font-size: 50px;
}
small.units {
  position: relative;
  bottom: 27px;
}
a.active {
  color: #046861;
  cursor: default;
}
a.active:hover {
  cursor: default;
}
a.link {
  text-decoration: none;
}
input#search-button {
  color: rgb(250, 239, 221);
  background-color: #30968f;
  border-color: #30968f;
}
input#search-city-input {
  background-color: rgb(250, 239, 221);
  border-color: rgb(250, 239, 221);
}
#forecast {
  text-align: center;
}
