body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.weather-app {
  width: 50%;
  min-width: 460px;
  margin: 50px auto 10px;
}
.frame {
  padding: 30px;
  background: #8ed2c9;
  border-radius: 15px;
  color: #063336;
}
#description:first-letter {
  text-transform: uppercase;
}
#icon {
  position: relative;
  bottom: 15px;
}
.humidity-wind {
  position: relative;
  top: 13px;
  font-size: 15px;
}
strong.current-temperature {
  font-size: 50px;
}
small.units {
  position: relative;
  bottom: 27px;
}
a.link {
  text-decoration: none;
  color: #68817d;
}
a.link:hover {
  font-size: 16px;
}

a.active {
  color: #046861;
  cursor: default;
}
a.active:hover {
  cursor: default;
  font-size: 14px;
}
input#search-button {
  color: #f2f2f1;
  background-color: #00aaa0;
  border-color: #00aaa0;
}
input#search-city-input {
  background-color: #f2f2f1;
  border-color: #f2f2f1;
}
#forecast {
  text-align: center;
}
.forecast-temperature {
  font-size: 13px;
}
